#addQueue {
    float: right;
    background: rgba(1, 1, 1, 0.7);
    margin-left: 1px;
}

#addQueueBtn {
    color: white;
    background: rgba(1, 1, 1, 0.7);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    box-shadow: 0 1px 2px 0 #dddddd;
    padding: 0.75em 1em;
    border: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

#addQueueBtn:hover {
    background-color: #9e1d22;
}